# Ignore Python cache
__pycache__/
*.pyc

# Ignore system files
.DS_Store
.dockerignore

# Ignore info.txt files
info.txt

# Ignore virtual envs
.venv/
venv/
env/

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore compiled code files
*.pyo
*.pyd

# Ignore specific editor folder
.vscode/
.idea/

# Ignore certifications
certs

# Ingore model files
model
mistral-7B-Instruct-v0.3
base_model
model_inference
model_thinking